.list-wrapper {
    width: 40%;
    margin: auto;
    padding: 100px;
}

.title {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    text-align: center;
    font-size: 100px;
    margin-top: 0;
}

.add {
    background-color: rgb(251, 96, 0);
    width: 50px;
    height: 50px;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    transition: 0.3s;
}

.add:hover {
    transform: scale(1.15);
    box-shadow: 0 0 3px 0.5px rgb(251, 96, 0);
}